{% extends "layout.html" %}
{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
      <th scope="col">BMI</th>
      <th scope="col">Children</th>
      <th scope="col">Smoker</th>
      <th scope="col">Region</th>
      <th scope="col">Charges</th>
    </tr>
  </thead>
  <tbody>
  {% for i in ans %}
    <tr>
      <th scope="row">{{ i['_id'] }}</th>
      <td>{{ i['age'] }}</td>
      <td>{{ i['sex'] }}</td>
      <td>{{ i['bmi'] }}</td>
      <td>{{ i['children'] }}</td>
      <td>{{ i['smoker'] }}</td>
      <td>{{ i['region'] }}</td>
      <td>{{ i['charges'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

        
{% endblock content %}