{% extends "layout.html" %}
{% block content %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Let's get you Started</h1>
              <p class='lead'>We will predict the Insurance Charges of a person based on:</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">What is their age ?</li>
                <li class="list-group-item">What is their Sex ?</li>
                <li class="list-group-item">What is their BMI ?</li>
                <li class="list-group-item">How many children they have ?</li>
              </ul>
              <br>
              <p class='lead'>Here are the models we will use:</p>
              <div class="row">
                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Multiple Regression</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Decision Tree</a>
                    <a class="list-group-item list-group-item-action" id="list-settings1-list" data-toggle="list" href="#list-settings1" role="tab" aria-controls="settings1">Random Forest</a>
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Multiple linear regression is fun because it looks at the relationships within a bunch of information. Instead of just looking at how one thing relates to another thing (simple linear regression), you can look at the relationship between a lot of different things and the thing you want to predict.</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Decision tree builds regression or classification models in the form of a tree structure. It breaks down a dataset into smaller and smaller subsets while at the same time an associated decision tree is incrementally developed.</div>
                    <div class="tab-pane fade" id="list-settings1" role="tabpanel" aria-labelledby="list-settings1-list">Random forest is a Supervised Learning algorithm which uses ensemble learning method for regression.It operates by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes (classification) or mean prediction (regression) of the individual trees.</div>
                  </div>
                </div>
              </div>
              <br>
              <a class="btn btn-outline-dark btn-lg" href="{{ url_for('login') }}" role="button">Login to WareWorks-ML</a>
              <a class="btn btn-outline-dark btn-lg" href="{{ url_for('database') }}" role="button">Database</a>
        </div>
        
{% endblock content %}